/* 首页样式文件 */

/* 初始化页面元素样式 */
h1,h2,h3,p,body,ul,li{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;/*去掉列表默认样式 小黑点*/
}
a{
    text-decoration: none;/*去下划线*/
}
img{
    display: block;
}
body{
    /* font-family: 'Courier New', Courier, monospace */
    font: 16px 'Courier New';
}

/****************header********************/
header{
    width: 100%;
    /* height: 80px; */
    background-image:url("/static/images/bixin02.jpg");
    position: fixed;
    top: 0;
    z-index: 999;
}
nav{
    /* 控制内容位置 */
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
}
/* logo  h1 */
/* 字体大小26px  字体颜色#c1edf2  能够和后面元素在同一行显示 */
.logo{
    font-size: 26px;
    float: left;
}
.logo a{
    color: #c1edf2;
}
/* 导航菜单 ul */
/* li水平排列  字体颜色#e5f2f2 鼠标移入时字体变成白色 */
/* 调整导航菜单和logo的距离 调整li之间的距离 */
nav>ul{
    float: left;
    margin-left: 80px;
}
nav>ul>li{
    float: left;
    padding: 0 20px;
}
nav>ul>li>a{
    color:#e5f2f2;
}
nav>ul>li>a:hover{
    color: #fff;
}
/* 登录注册  */
/* 到nav的右侧去   注册紧贴在右侧  登录距离右侧70px */
#login{
    float: right;
    margin-right:50px;
    color:#e5f2f2;

}
#register{
    color:#e5f2f2;
    float: right;
}

#btn{
    float: right;
    width: 80px;
    height: 30px;
    border: solid 1px #555;
    border-radius: 5px;
    /*line-height: 80px;*/
    margin-top: 15px;

}

#text{
    float: right;
    width: 280px;
    height: 30px;
    border: solid 1px #555;
    border-radius: 5px;
    /*background-color: #555;*/
    line-height: 80px;
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 170px;


}

/**********************主体内容*************************/
main{
    width: 1140px;
    margin: 100px auto 0;
}

/* 右侧toppic */
.toppic{
    width: 32%;
    float: right;
}
.toppic li{
    width: 100%;
    position: relative;
    /* 背景颜色变黑 */
    background-color: #000;
}
/* 遮罩层 为图片添加特殊样式时使用 */
.toppic li i{
    display: block;
    opacity: 0.7;
    transition: all 0.5s;
}
/* 16:57~17:12 */
/* 鼠标移入到li时 将图片的父元素变成不透明*/
.toppic li:hover i{
    opacity: 1;
}
.toppic li img{
    width: 100%;
    height: 204px;
}
/* 图片中的文字 */
/* div 参照li绝对定位 定位在li下方 宽度占100%
 调整边距让文字距离左侧远一些  垂直居中  半透明的深黑色背景 白色字体*/
/* span 参照li绝对定位 定位在li左上方 距离左上20px
    半透明的深黑色背景白色字体 字体水平垂直居中 字体大小12px
    边框圆角3px
*/
.toppic li div{
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
}
.toppic li span{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 3px;
}
/* 找到最后一个子元素li */
.toppic li:last-child{
    margin-top:15px;
}

body{
    background-color: #f2f2f0;
}

.clear{
    clear: both;
    margin-bottom: 20px;
}

/*******************博客列表***********************/
.blogsbox{
    width: 100%;
    position: relative;
}
/* 每一条博客 */
/* 10:00~10:15 */
.views{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    overflow: hidden;
}
/* 标题 */
.views .viewtitle{
    font-size: 20px;
}
.views .viewtitle a{
    color: #555;
}
.views .viewtitle a:hover{
    color: #337ab7;
}
/* 图片 */
.viewpic{
    width: 30%;
    height: 170px;
    float: left;
    overflow: hidden;
    margin:10px 20px 0 0;
}
.viewpic img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.viewpic img:hover{
    transform: scale(1.1);
}
/* 文本 */
.views .viewtext{
    font-size: 16px;
    color: #566573;
    margin-top: 20px;
}

#date{
    width: 10px;
}

.view_des{
    position: absolute;
    left: 40%;
    width: 50%;
    height: 170px;
    float: left;
    overflow: hidden;
    margin:0 20px 0 0;
}

.view_ele>span>a{
    text-decoration: none;
    margin: 100px 5px;
    color: #748594;
}

.view_tiqi{
    position: absolute;
    left: 60%;
    width: 20%;
    height: 170px;
    float: right;
    overflow: hidden;
    margin:0 20px 0 0;
}
/* 信息列表 */
/* 让li文字水平排列  调整距离 */
/* 文字大小12px  文字颜色#748594  鼠标移动到超链接文字变黑 */
.views li{
    height: 24px;
    line-height: 24px;
    float: left;
    font-size: 14px;
    /* 让文字右移露出背景图片 */
    padding-left:18px; 
    margin:20px 15px 0 0;
    /*background-image: url('');*/
    background-repeat: no-repeat;
}
.views li a{
    color: #748594;
}
.views li a:hover{
    color: #000;
}



/* 休息10:56~11:10 */
/* 调整每一个li背景图片的位置 显示所有的小图标 */
.lmname{
    background-position-y:-25px; 
}
.timer{
    background-position-y:-46px;
}
.view{
    background-position-y:-66px;
}
.like{
    background-position-y:-87px;
}
/***************footer*****************/
/*footer 宽度100% 背景颜色#555 字体颜色#a5a4a4
    字体水平垂直居中  鼠标移入a时字体颜色#c1edf2
*/
footer{
    width: 100%;
    background-color: #555;
    padding: 20px 0;
    color: #a5a4a4;
    text-align: center;
}
footer a{
    color: #a5a4a4;
}
footer a:hover{
    color: #c1edf2;
}
